:root {
    --clip-rhomboid: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
}

html {
    color: white;
    font-size: 16px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url("/assets/img/background.jpg") center / cover no-repeat;
    background-size: 110% 110%;
    background-color: darkslateblue;
}

button {
    outline: none;
    border: none;
}

a,
a:active,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.visible {
    opacity: 1;
    pointer-events: all;
}

.invisible {
    opacity: 0;
    pointer-events: none;
}

.black-screen {
    position: fixed;
    background: #000;
    z-index: 99999;
    transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.button-back {
    position: fixed;
    left: 3rem;
    bottom: 3rem;
    padding: 1rem 2rem;
    background: palevioletred;
    clip-path: var(--clip-rhomboid);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: opacity 1s ease-in-out;
}

.alert {
    color: #000;
    background: rgba(251, 255, 0, 0.6);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
}

.avatar {
    width: 10rem;
    height: 10rem;
    margin-bottom: 0.5rem;
    border-radius: 100%;
}

.card-aboutme {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 1.5rem;
    border-radius: 1rem;
}

.bounce-with-bpm {
    animation: bounceAnim calc(60000ms / 120) linear infinite;
}

#alert-no-compatible {
    padding: 1rem;
    text-align: center;
    display: none;
}

@keyframes bounceAnim {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

@media screen and (max-width: 840px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .black-screen {
        opacity: 1 !important;
        pointer-events: all;
    }

    #alert-no-compatible {
        display: block;
    }
}
